<%- include('./partials/top') -%>
<main class="py-16 bg-gray-50 flex flex-col items-center justify-center gap-5">
    <p class="text-4xl font-bold">404 - The Requested Resource Was Not Found!</p>
    <a href="/" class="py-3 px-4 hover:bg-gray-700 bg-gray-800 rounded-lg text-white flex items-center justify-center">
        Home
    </a>
</main>
<%- include('./partials/bottom') -%>
