<%- include('./partials/top') -%>
<section class="bg-[url('/images/bg.png')] bg-cover bg-center text-white min-h-[40vh] flex items-center justify-center">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-heading font-bold mb-6">About Us</h1>
        </div>
    </div>
</section>
<main class="py-16 bg-gray-50">
    <div class="w-[95%] max-w-7xl mx-auto">
        <div class="mb-8 flex gap-5 flex-col items-start justify-center">
            <p>Welcome to DownToDebate – your go-to platform for all things debate! Whether you're a seasoned debater looking to sharpen your skills or someone curious about starting your journey in debate, we’re here to support you every step of the way.</p>
            <h2 class="text-2xl font-heading font-semibold text-gray-900">Our Mission</h2>
            <p>DownToDebate is a nonprofit initiative dedicated to making debate more accessible, engaging, and inclusive for students around the world. Our mission is to provide free, high-quality resources that empower debaters of all levels to grow their critical thinking, communication, and leadership skills. We believe that debate is more than just an activity—it’s a tool for understanding complex issues, building confidence, and fostering meaningful dialogue.</p>
            <h2 class="text-2xl font-heading font-semibold text-gray-900">What We Offer</h2>
            <p>While DownToDebate isn’t directly affiliated with any formal debate organization or competition, we bridge the gap by offering valuable resources that will guide you towards prestigious tournaments. Our platform features:
            <ol>
                <li>1. Sample cases: There are full cases of arguments for World Schools, British Parliamentary and public forum motions.</li>
                <li>2. Past transcripts: We also provide the full cases of a variety of past famous debates.</li>
                <li>3. Curated Tournament Links: We connect you to various debate competitions around the world. Whether you're looking for local tournaments or international stages, our curated links will help you discover opportunities to showcase your skills.</li>
            </ol>
            We will also be soon offering online workshops, video tutorials, and masterclasses led by experienced debaters and coaches to help you refine your skills.</p>
            <h2 class="text-2xl font-heading font-semibold text-gray-900">Global Reach</h2>
            <p>At DownToDebate, we believe debate should have no boundaries, so we have a global vision. We’re actively working to expand our presence to other countries in order to provide debaters in different regions with the same level of support, access, and opportunities that are available elsewhere. Whether you’re in North America, Europe, or Asia, you’ll find valuable resources here to guide your debate journey.</p>
            <h2 class="text-2xl font-heading font-semibold text-gray-900">Join us</h2>
            <p>Debate is more than a competition—it’s a way of thinking, engaging with the world, and building a brighter future through dialogue. Join DownToDebate today, and become part of a community that values the power of words, ideas, and the pursuit of truth. Together, let’s build a more thoughtful, engaged, and empathetic generation of thinkers. <a class="text-blue-500" href="/join-us">Join Us</a></p>
        </div>
    </div>

<div class="flex flex-col w-full items-center justify-center gap-5">
</div>
</main>
<%- include('./partials/bottom') -%>